<?xml version="1.0" encoding="UTF-8"?>

 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.green.Nowon.domain.dto.MemberMapper">
   	<insert id="save">
   	insert into member(email, pass, name, nick_Name) values(#{email},#{pass},#{name},#{nickName})
   	
   	</insert>
   	
   	<select id="findall" resultType="com.green.Nowon.domain.dao.MemberDTO">
   	select * from member where no> 0
   	
   	</select>
  </mapper>
  
 