<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<style>

body{
font-family: "Roboto";
font-size:15px;
line-height: 1;
color: #222;

}



body > header  > h2 {color :#ffa807;}

header > div > div {margin: 0 auto 10px}

body > header > div > div >a {margin:0 10px; color: #222;}



</style>


<body>
	<header id="header">
	<h2>MONGSUM</h2>
		<div class="wrap" >
		<div style="display:flex; ">
			
			<a href="/">HOME</a>
			<a href="/posts">POST</a>
			<a href="/login">회원가입</a>
			<a href="#">로그인</a>
			</div>
			
			<!--  
			<div >
			<a href="/login">회원가입</a>
			<a href="#">로그인</a>
			</div>
			-->
			
		</div>
		<hr/>
	</header>
	<main>
		<div>
			
		</div>

	</main>

</body>
</html>